.about {
  background-color: var(--background-pink-color);
  position: relative;
}

.about__label {
  color: var(--accent-color);
  font-family: 'Titan One';
  font-size: 18px;
  padding-top: 125px;
  display: flex;
  justify-content: center;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    font-size: 26px;
  }

  @media screen and(min-width:1280px) {
    font-size: 30px;
  }
}

.about__title {
  color: var(--main-color);
  font-family: 'Titan One';
  font-size: 34px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 31px;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    font-size: 48px;
  }

  @media screen and(min-width:1280px) {
    font-size: 58px;
  }
}

.about__image {
  width: 280px;
  height: auto;
  margin-top: 26px;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    width: 340px;
    margin-top: 50px;
  }

  @media screen and(min-width:1280px) {
    width: 516px;
    margin-top: 55px;
  }
}

.about__thumb {
  padding-bottom: 39px;

  @media screen and(min-width:768px) {
    display: flex;
    z-index: 1;
    padding-bottom: 30px;
  }

  @media screen and(min-width:1280px) {
    padding-bottom: 5px;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  margin-top: 46px;

  @media screen and(min-width:320px) and (max-width: 767px) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media screen and(min-width:768px) and (max-width: 1279px) {
    margin-top: 100px;
    margin-left: 17px;
  }

  @media screen and(min-width:1280px) {
    margin-top: 106px;
    margin-left: 74px;
  }
}

.about__button {
  width: 176px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background-color: var(--white-text-color);
}

.about__bold-text {
  font-family: 'DM Sans';
  color: var(--black-text-color);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 47px;
  z-index: 1;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    font-size: 14px;
    margin-bottom: 49px;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.about__normal-text {
  font-family: 'DM Sans';
  color: var(--grey-text-color);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 20px;
  z-index: 1;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    font-size: 14px;
    margin-bottom: 62px;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
    margin-bottom: 45px;
  }
}

.button__label {
  font-family: 'DM Sans';
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;

  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}

.about__milk {
  width: 100%;
  height: auto;
  position: absolute;

  @media screen and(min-width:320px) and (max-width: 767px) {
    bottom: 60px;
  }

  @media screen and(min-width:768px) and (max-width: 1279px) {
    display: none;
  }

  @media screen and(min-width:1280px) {
    bottom: -100px;
  }
}
