*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
:hover {
  transition-property: color, background-color, box-shadow; /* свойство */
  transition-duration: 250ms; /* время */
  transition-timing-function: var(--bezier-box); /* функция перехода */
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
