// todo GO
.contacts {
  background-color: var(--background-pink-color);
}

.contacts__bg {
  display: flex;
  justify-content: center;

  background-image: url('../images/contacts__bg_2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts__list {
  @media screen and(min-width:768px) and (max-width: 1279px) {
    display: flex;
    justify-content: center;
  }

  @media screen and(min-width:1280px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__item {
  width: 220px;
  height: 427px;
  margin: 0 auto;
  padding: 43px 20px;
  margin-bottom: 20px;

  background-color: var(--white-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    height: 544px;
    padding: 50px 31px;
    margin-bottom: 81px;
  }

  @media screen and(min-width:1280px) {
    width: 330px;
    height: 572px;
    padding: 52px 43px 61px;
    margin-bottom: 86px;
  }
}

.contacts__item:last-child {
  margin-bottom: 54px;
}

.contacts__type {
  width: 80px;
  height: 16px;
  text-align: center;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  text-transform: uppercase;
  background: var(--ice-coffe-backgroung);
  border-radius: 4px;

  @media screen and(min-width:768px) {
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.86;
  }

  @media screen and(min-width:1280px) {
    margin-bottom: 32px;
  }
}

.contacts__type--food-truck {
  width: 130px;

  background-color: var(--milkshakes-backgroung);

  @media screen and(min-width:768px) {
    width: 138px;
  }
}

.contacts__item-top {
  width: 180px;
  height: 94px;
  padding-bottom: 25px;

  border-bottom: 1px solid var(--grey-svg-color);

  @media screen and(min-width:768px) and (max-width: 1279px) {
    width: 145px;
    height: 136px;
    padding-bottom: 30px;
  }

  @media screen and(min-width:1280px) {
    width: 243px;
    height: 123px;
    padding-bottom: 32px;
  }
}

.contacts__subtitle {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    margin-bottom: 14px;

    font-size: 14px;
  }

  @media screen and(min-width:1280px) {
    margin-bottom: 10px;

    font-size: 16px;
  }
}

.contacts__content {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--grey-text-color);

  @media screen and(min-width:768px) and (max-width: 1279px) {
    font-size: 14px;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}

.contacts__schedule {
  width: 180px;
  height: 146px;
  padding: 25px 0;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  border-bottom: 1px solid var(--grey-svg-color);

  @media screen and(min-width:768px) and (max-width: 1279px) {
    width: 158px;
    height: 174px;
    padding: 30px 0;
    margin-bottom: 30px;
  }

  @media screen and(min-width:1280px) {
    width: 244px;
    height: 174px;
    padding: 32px 0;
    margin-bottom: 32px;
  }
}

.contacts__schedule--time {
  margin-bottom: 10px;

  color: var(--accent-color);
}

.contacts__address {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);

  @media screen and(min-width:768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.83;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 1.83;
  }
}

// todo GO
.contacts__block-btns {
  @media screen and(min-width:768px) and (max-width: 1279px) {
    display: flex;
    justify-content: center;
  }

  @media screen and(min-width:1280px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__btn {
  display: block;
  width: 161px;
  height: 44px;
  margin: 0 auto 10px;

  color: var(--main-color);
  background: var(--white-text-color);
  border-radius: 22px;
  border: transparent;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    width: 174px;
    margin: 0;
  }

  @media screen and(min-width:1280px) {
    width: 180px;
    margin: 0;
  }
}

.contacts__btn--left {
  @media screen and(min-width:768px) and (max-width: 1279px) {
    width: 191px;
    margin-right: 15px;
  }

  @media screen and(min-width:1280px) {
    width: 198px;
    margin-right: 15px;
  }
}

.contacts__btn:hover {
  color: var(--white-text-color);
  background: var(--main-color);
}

.contacts__btn:hover .button__label {
  color: var(--white-text-color);
}

// todo ЗАБРАТЬ ИЗ MAIN ИСПРАВЛЕННЫЙ SVG
.contacts__btn:hover .contacts__svg {
  fill: var(--white-text-color);
}
