.section-gallery {
  background-image: linear-gradient(
    to bottom,
    var(--background-pink-color) 48px,
    var(--white-text-color) 48px
  );

  @media screen and(min-width:768px) {
    background-image: linear-gradient(
      to bottom,
      var(--background-pink-color) 100px,
      var(--white-text-color) 100px
    );
  }
  @media screen and(min-width:1280px) {
    background-image: linear-gradient(
      to bottom,
      var(--background-pink-color) 165px,
      var(--white-text-color) 165px
    );
  }
  object-fit: contain;

  & .container {
    display: flex;
    justify-content: center;
    @media screen and(max-width:480px) {
      height: 122px;
    }
    @media screen and(min-width:768px) {
      height: 264px;
    }
    @media screen and(min-width:1280px) {
      height: 430px;
    }
  }
}
