<section class="avantages">
  <div class="container">
    <h2 class="avantages__title">Avantages</h2>
    <ul id="avantages" class="avantages__list">
      <li class="avantages__item">
        <picture>
          <source srcset="./images/bucket.png 1x, ./images/bucket@2x.png 2x" />
          <img src="./images/bucket.png" alt="bucket of milk" class="avantages__img bucket" />
        </picture>
        <h3 class="avantages__subtitle">721</h3>
        <p class="avantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="avantages__item">
        <picture>
          <source srcset="./images/apples.png 1x, ./images/apples@2x.png 2x" />
          <img src="./images/apples.png" alt="bucket of apples" class="avantages__img apples" />
        </picture>
        <h3 class="avantages__subtitle">16kg</h3>
        <p class="avantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="avantages__item">
        <picture>
          <source srcset="./images/heart.png 1x, ./images/heart@2x.png 2x" />
          <img src="./images/heart.png" alt="heart" class="avantages__img heart" />
        </picture>
        <h3 class="avantages__subtitle">84</h3>
        <p class="avantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
