<!-- Test -->
<section class="contacts">
  <div class="contacts__bg">
    <div class="container">
      <h2 hidden>Contacts</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <p class="contacts__type">cafe</p>
          <div class="contacts__item-top">
            <h3 class="contacts__subtitle">Chicago</h3>
            <p class="contacts__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="contacts__schedule">
            <li>
              <p>Monday - Friday</p>
              <p class="contacts__schedule--time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p>Saturday - Sunday</p>
              <p class="contacts__schedule--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <address>
            <ul>
              <li>
                <a class="contacts__address" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts__address" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </li>
        <li class="contacts__item">
          <p class="contacts__type contacts__type--food-truck">food truck</p>
          <div class="contacts__item-top">
            <h3 class="contacts__subtitle">Los Angeles</h3>
            <p class="contacts__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="contacts__schedule">
            <li>
              <p>Monday - Friday</p>
              <p class="contacts__schedule--time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p>Saturday - Sunday</p>
              <p class="contacts__schedule--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <address>
            <ul>
              <li>
                <a class="contacts__address" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts__address" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </li>
        <li class="contacts__item">
          <p class="contacts__type">cafe</p>
          <div class="contacts__item-top">
            <h3 class="contacts__subtitle">New York</h3>
            <p class="contacts__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="contacts__schedule">
            <li>
              <p>Monday - Friday</p>
              <p class="contacts__schedule--time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p>Saturday - Sunday</p>
              <p class="contacts__schedule--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <address>
            <ul>
              <li>
                <a class="contacts__address" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts__address" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </li>
      </ul>

      <div class="contacts__block-btns">
        <button class="contacts__btn contacts__btn--left">
          <span class="button__label">Our Locations&nbsp;&nbsp;</span>
          <svg class="button__svg" width="6px" height="8px">
            <use href="./images/sprite-ice-cream.svg#icon-Vector-1"></use>
          </svg>
        </button>
        <button class="contacts__btn">
          <span class="button__label">Franchise&nbsp;&nbsp;</span>
          <svg class="contacts__svg" width="6px" height="8px">
            <use href="./images/sprite-ice-cream.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
