<article>
    <section class="sections section-customer-reviews">
        <div class="container">

            <div class="slider">

                <div class="item">
                    <img srcset="./images/slider-foto1-1x.jpg 1x, ./images/slider-foto1-2x.jpg 2x"
                        src="./images/slider-foto1-1x.jpg" alt="Первый слайд">
                    <div class="item__details">
                        <div class="item__comment">
                            <div class="item__text">Nullam viverra consectetuer. Quisque
                                cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                                quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </div>
                        </div>
                        <div class="item__commentators-place">Emily, Los Angeles</div>
                    </div>
                </div>

                <div class="item">
                    <img srcset="./images/slider-foto2-1x.jpg 1x, ./images/slider-foto2-2x.jpg 2x"
                        src="./images/slider-foto2-1x.jpg" alt="Второй слайд">
                    <div class="item__details">
                        <div class="item__comment">
                            <div class="item__text">Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Velit nam aut dicta architecto exercitationem
                                ad repellat quae corporis nihil recusandae mollitia. Adipisicing elit. Velit nam aut
                                dicta architecto.
                            </div>
                        </div>
                        <div class="item__commentators-place">Odri, Watertown</div>
                    </div>
                </div>

                <div class="item">
                    <img srcset="./images/slider-foto3-1x.jpg 1x, ./images/slider-foto3-2x.jpg 2x"
                        src="./images/slider-foto3-1x.jpg" alt="Третий слайд">
                    <div class="item__details">
                        <div class="item__comment">
                            <div class="item__text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptas magnam, quas a quis modi illo
                                exercitationem corporis.
                            </div>
                        </div>
                        <div class="item__commentators-place">Gillian, Los Alamos</div>
                    </div>
                </div>

                <!-- Скрытые стрелки для прокрутки слайдера -->
                <!-- <a class="prev" onclick="minusSlide()">&#10094;</a>
                <a class="next" onclick="plusSlide()">&#10095;</a> -->
            </div>

            <!-- Пагинация -->
            <div class="slider-dots">
                <span class="slider-dots_item" onclick="currentSlide(1)"></span>
                <span class="slider-dots_item" onclick="currentSlide(2)"></span>
                <span class="slider-dots_item" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </section>
</article>