<section class="footer">
  <div class="container">
    <div class="footer-part">
      <div class="footer__label-thumb">
        <p class="text-footer-logo-first-part">homemade ice cream made</p>
        <p class="text-footer-logo-second-part">with passion</p>
      </div>
      <div class="contact-block">
        <ul class="social-link">
          <li class="social-link-list-item">
            <a class="social-item" href="https://github.com/" target="_blank" aria-label="github">
              <svg class="social-icon" width="20px" height="20px">
                <use href="./images/sprite-ice-cream.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="social-link-list-item">
            <a
              class="social-item"
              href="https://webz.telegram.org//"
              target="_blank"
              aria-label="telegram"
              ><svg class="social-icon" width="20.4px" height="15.87px">
                <use href="./images/sprite-ice-cream.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-link-list-item">
            <a
              class="social-item"
              href="https://facebook.com/"
              target="_blank"
              aria-label="facebook"
            >
              <svg class="social-icon" width="9.35px" height="20.4px">
                <use href="./images/sprite-ice-cream.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="contact-us-footer-section">
          <a class="contact-us-footer" href="tel:+61(0)383766284"
            >Feel free to contact<span class="tel">+61 (0) 383 766 284</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="all-rights-footer">
    <div class="footer__last-text">
      <span class="all-rights-text">© 2020 - IceCream. All Rights Reserved.</span>
    </div>
  </div>
  <div class="border-footer"></div>
</section>
