<article>
    <section class="sections section-gallery">
        <div class="container">
            <picture>
                <source srcset="./images/gallery1x-mobile.jpg 1x, ./images/gallery2x-mobile.jpg 2x"
                    media="(max-width: 767px)">
                <source srcset="./images/gallery1x-tablet.jpg 1x, ./images/gallery2x-tablet.jpg 2x"
                    media="(max-width: 1279px)" media="(min-width: 768px)">
                <source srcset="./images/gallery1x-desktop.jpg 1x, ./images/gallery2x-desktop.jpg 2x"
                    media="(min-width: 768px)">
                <img srcset="./images/gallery1x-mobile.jpg 1x, ./images/gallery2x-mobile.jpg 2x"
                    src="./images/gallery1x-mobile.jpg" alt="Фотоколлаж" class="section-gallery__image">
            </picture>
        </div>
    </section>
</article>