<section class="products">
  <div class="container">
    <label for="proructs__title" class="products__label">100% NATURAL</label>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__item ice-cream">
        <h3 class="products__subtitle">ICE CREAM</h3>
        <div class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. <span class="span"> dolore magna aliqua facilisis.</span>
        </div>
      </li>
      <li class="products__item ice-coffee">
        <h3 class="products__subtitle">ICE COFFEE</h3>
        <div class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. <span class="span"> dolore magna aliqua facilisis.</span>
        </div>
      </li>
      <li class="products__item milkshakes">
        <h3 class="products__subtitle">MILKSHAKES</h3>
        <div class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. <span class="span"> dolore magna aliqua facilisis.</span>
        </div>
      </li>
    </ul>
  </div>
</section>
